*.user
*.suo
*.DotSettings

obj
bin
**/packages

# Tabs studio extension files
**/*.tss
**/.vs/**

_ReSharper.Caches

*.js.map
*.rsa
*.orig
**/Logs/**/*.log
**/Logs/**/*.txt
**/Logs/**/*.json
appsettings.*.json

.vscode
.sonarqube
**/BenchmarkDotNet.Artifacts/
.idea
*.Development.json
StyleCop.Cache
.DS_Store

global.json
